<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiến Lê</title>
    <link rel="stylesheet" href="css/sytle.css">
</head>
<body>
    <h1>Welcome to Tiến Lê's Home Page</h1>
    <img src="images/logo.png" alt="" srcset="">
    <h2>Message : <%= message %></h2>
    <p>This is a simple home page rendered using EJS template engine in a NestJS application.</p>
</body>
</html>